<li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#onboarding_by_student">Onboarding by Student</a>
</li>
<li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#onboarding_by_highschool">Onboarding by High School</a>
</li>
<li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#onboarding_timeline">Onboarding Timeline</a>
</li>
<li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#onboarding_stalled">Onboarding Stalled</a>
</li>
